.contactDiv {
    color:white;
    text-align: right;
    font-size:16px;
    border-right: 2px solid white;
    padding-right: 8px;
    margin-bottom:25px;
    margin-right:8px;
    letter-spacing: 1px;
}
.contact{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.inputDiv {
    display:flex;
    justify-content: start;
    color:#fff !important;
    margin-bottom: 30px;
}
.inputs input {
    background-color: #161e25 !important;
    border-radius:0px !important;
    border:none !important;
    border-bottom:1px solid #fff !important;
    color:#fff !important;
    margin-right:30px !important;
    margin-bottom: 30px !important;
}
.inputs > input:focus {
   border: none !important;
   border-bottom:1px solid#f2f4f7 !important;
}
.inputs textarea {
    width:500px;
    padding-left: 13px !important;
    color:#fff !important;
    background-color: #161e25 !important;
    border-radius:0px !important;
    border:none !important;
    border-bottom:1px solid #fff !important;
}
.inputs > textarea:focus {
    outline:none !important;
 }
 .sendButton {
    margin-top:30px !important;
    padding:10px 90px !important;
    border-radius: 0px !important;
 }
 .subjectInput {
     width:300px !important;
 }
 .contactColumn{
    margin-right:100px !important;
 }
 .segment {
   left: 40% !important;
   position: fixed !important; 
   top: 50% !important; 
   z-index: 1000 !important;
   height:auto !important;
   font-size:16px !important;
   background-color:#161e25 !important;
   color:#ffff !important;
 }
 @media  screen and (max-width:1024px){
    .inputs textarea {
      width:300px;
    }
    .formDiv{
      margin-left:50px;
    }
    .contactColumn{
        margin-right:10px !important;
        margin-left:15px !important;
    }
 }
 @media  screen and (max-width:413px){
    .inputs textarea {
      width:200px;
    }
    .subjectInput {
        width:200px !important;
    }
    .formDiv{
        margin-left:50px;
      }
      .contactColumn{
        margin-right:10px !important;
        margin-left:15px !important;
    }
 }
 @media  screen and (max-width:768px) and (min-width:481px){
    .segment {
        left: 35% !important;
    }
 }
 @media  screen and (max-width:480px){
    .segment {
        left: 10% !important;
    }
 }