* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.clientsDiv {
  background-color: #f0d389;
  padding-top: 40px !important;
  padding-bottom: 40px !important;

}
.gridColumns {
  padding: 0;
}
.imgZoom {
    position: relative;
    background-color:#161e25;
    /* border: 1px solid #333; */
    /* margin: 1%; */
    overflow: hidden;
    /* width:300px;
    height:150px; */
    display:flex;
    justify-content:center;
    align-content: center;
  }
img {
    max-width: 100%;
    height:200px;
    padding: 60px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .imgZoom:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .imgAerodrom {
    max-width: 100%;
    height:200px;
    padding: 15px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .imgZepter {
    max-width: 100%;
    height:200px;
    padding:70px 65px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .imgEli {
    max-width: 100%;
    height:200px;
    padding: 45px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .imgOsce {
    max-width: 100%;
    height:200px;
    padding:70px 45px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
