@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');


body * {
  font-family: 'Dosis', sans-serif!important;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.homeDiv {
  position: absolute;
  top: 34%;
  right: 50%;
  transform: translate(50%,50%);
  width: 90%;
  text-align: center;
}
.videoHome {
  height: 1100px;
}
.welcome {
  color: white;
  font-size: 44px;
  font-weight: 300;
  letter-spacing: 10px;
}
.aboutUs {
  width: 100%;
  background: #161e25;
  color: #FFF;
  padding: 60px 0px 100px 0px;
}
.services {
  color: #fff;
  width: 100%;
}
.aboutUs h2, .services h2 {
  text-align: center;
  font-size: 33px;
  font-weight: 300;
  margin-bottom: 6px;
}
.aboutUs h3, .services h3 {
  font-weight: 300;
  font-size: 20px;
}
.aboutUs p, .services p {
  font-size: 16px;
}
h1 span, .aboutUs h2 span {
  color: #f0d389;
}
.homeDiv p {
  color: #FFF;
  font-size: 21px;
  text-align-last: center;
}
.border {
  border-bottom: 1px solid #FFF;
  display: inline-block;
  width: 15%;
}
.icon {
  font-family: Icons !important;
  color: #f0d389;
}
.iconGrey{
  font-family: Icons !important;
  color: #161e25;
  margin-bottom: 20px !important;
}
.iconWhite{
  font-family: Icons !important;
  color: #fff;
  margin-bottom: 20px !important;
}

.iconDiv {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 32px;
  transition: 0.5s;
}
.iconGreyDiv {
  height: 100px;
  margin: 0 auto;
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  transition: 0.5s;
  text-align: center;
}
.iconGreyDiv p {
  color:#161e25;
}
.iconGreyDiv:hover  {
  .iconGrey {
    // color: #f0d389;
    animation: in 1.5s infinite;
    transform: rotate(30deg);
  }
}
.iconDiv:hover  {
  background: #f0d389;
  .icon {
    color: #161e25;
    animation: in 1.5s infinite;
    transform: rotate(30deg);
  }
}
.teamDiv {
  overflow: hidden;
  width: 273px;
  height: 410px;
  position: relative;
  margin: 0 auto;
}
.teamImg {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.teamImgHover {
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  width: 275px;
  height: 413px;
  display: none;
  animation: fadeIn 0.5s ease-in both;
}
.teamDiv:hover {
  .teamImgHover {
    display: block;
  }
  .hoverDiv {
    background-color: rgba(0,0,0,0.8);
  }
}
.hoverDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.8s;
}
.hoverDivSec {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(240,211,137,0.4);
}
.name {
  text-align: center;
  margin-bottom: 6px;
  letter-spacing: 1px;
  clear: both;
  padding-top: 20px;
  margin-left: 30px;
}
.profession {
  text-align: center;
  color: #f0d389;
  font-size: 15px;
  margin-left: 30px;
}
// .slika2 {
//   display: none;
//   animation: fadeIn 0.5s ease-in both;
// }
// .slika:hover {
//   .slika2 {
//     display: block;
//   }
// }
// .b1 {
//   background-image: url('../../video/idea.jpg');
//   background-size: cover;
// }
// .b2 {
//   background-image: url('../../video/profil.jpg');
//   display: none;
//   background-size: cover;
//   animation: fadeIn 0.5s ease-in both;
// }
// .slikaa:hover {
//   .b2 {
//     display: block;
//   }
//   .crn {
//     background-color: rgba(0,0,0,0.85);
//   }
// }
// .crn {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   transition-duration: 0.34s;
// }

.container {
  width: 1220px;
  margin: 90px auto 45px auto;
  overflow: auto;
}
.inCon {
  width: 100%;
  visibility: visible;
  display: block;
  z-index: 1;
  position: relative;
  float: left;
}
.wrap {
  position: relative;
  overflow: hidden;
  visibility: visible;
}
.inWrap {
  transform: translate3d(0px,0px,0px);
  transition: 0s;
  width: 2835px;
  position: relative;
  transition: 0.8s;
}
.pic {
  // width: 315px;
  min-height: 1px;
  float: left;
  position: relative;
}
.inPic {
  position: relative;
  overflow: hidden;
  width: 100%;
  float: left;
  min-height: 1px;
  margin-left: 30px;
}
// .mem {
//   transform: translateY(0);
// }
.mem {
  transform: translateY(0);
  background-size: cover;
  width: 275px;
  height: 413px;
}
.inPic:hover {
  .hoverDiv {
    background-color: rgba(0,0,0,0.8);
  }
  .teamImgHover {
    display: block;
  }
}
// .pic:hover {
//   .teamImgHover {
//     display: block;
//   }
// }
.prva {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.buttons, .buttons1, .buttons2, .buttons3 {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.buttons1, .buttons2, .buttons3 {
  display: none;
}
@keyframes in {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, 70%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@media only screen and (max-width: 1300px) {
  // .inWrap {
  //   width: 3130px;
  // }
  .container {
    width: 915px;
  }
  .buttons, .buttons2, .buttons3 {
    display: none;
  }
  .buttons1 {
    display: flex;
  }
}
@media only screen and (max-width: 1000px) {
  // .inWrap {
  //   width: 3130px;
  // }
  .container {
    width: 610px;
  }
  .buttons, .buttons1, .buttons3 {
    display: none;
  }
  .buttons2 {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .mission {
    margin-top: 30px!important;
  }
  .videoHome {
    height: 700px;
  }
  .container {
    width: 305px;
  }
  .buttons, .buttons1, .buttons2 {
    display: none;
  }
  .buttons3 {
    display: flex;
  }
}